<h1>Home</h1>
<div class="productos__container">
 <h2>Productos agregados hasta el momento: </h2>
    <div class="listaProductos">

    </div>
   
</div>
<a class="btn btn-primary" href="/realtimeproducts">Ir a Real Time Products</a>
<script src="../static/js/home.handlebars.js"></script>