
<h1>Productos existentes:</h1>

<div class="product-container">
  <div class="product-list">
    <!-- productos con card-->
  </div>
</div>
<a href="/realtimeproducts"><button class="btn btn-primary">Añadir un producto</button></a>
    <script src="../static/js/home.handlebars.js"></script>
</body>

